@model ProjectTest.Models.UserEmployee
@{
    ViewBag.Title = "ViewProfile";
    Layout = "~/Views/Shared/_AfterLoginEmployee.cshtml";
}

<h3>My Profile</h3>
<br />
<img src="@Model.Picture" alt="Alternate Text" height="150" width="150" class="img-rounded" />
<br />
<p><b>Name:</b> @Model.Name</p>
<p><b>Email:</b>@Model.Email</p>
<p><b>Gender:</b>@Model.Gender</p>
<p><b>Date of Birth</b>@Model.DOB</p>

