@model List<ProjectTest.Models.UserRestaurant>
@{
    ViewBag.Title = "JoinRequests";
    Layout = "~/Views/Shared/_AfterLoginAdmin.cshtml";
}
<h3>Join Requests to Zero Hunger</h3>
<br />
<h4>Restaurants</h4>
<table class="table table-responsive">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Location</th>
        <th>Approval Status</th>
        <th></th>
    </tr>
    @foreach (var restaurants in Model)
    {
        <tr>
            <td>@restaurants.Name</td>
            <td>@restaurants.Email</td>
            <td>@restaurants.Location</td>
            <td><span class="badge border border-danger text-danger">@restaurants.Is_Approved</span></td>
            <td><a href="/admin/approveRestaurant/@restaurants.User_Id" class="btn btn-outline-success btn-sm"><i data-feather="check"></i></a>
            <a href="/admin/rejectRestaurant/@restaurants.Id" class="btn btn-outline-danger btn-sm"><i data-feather="x"></i></a> </td>
        </tr>
    }
</table>
<br />
<br />

<h4>Employees</h4>
<table class="table table-responsive">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Date of Birth</th>
        <th>Gender</th>
        <th>Approval Status</th>
        <th></th>
    </tr>
    @foreach (var emps in ViewBag.unapproved)
    {
        <tr>
            <td>@emps.Name</td>
            <td>@emps.Email</td>
            <td>@emps.DOB.ToString("yyyy-MM-dd")</td>
            <td>@emps.Gender</td>
            <td><span class="badge border border-danger text-danger">@emps.Is_Approved</span></td>
            <td><a href="/admin/approveEmployee/@emps.User_Id" class="btn btn-outline-success btn-sm"><i data-feather="check"></i></a> 
            <a href="/admin/rejectEmployee/@emps.Id" class="btn btn-outline-danger btn-sm"><i data-feather="x"></i></a></td>
        </tr>
    }
</table>

